# Docker Compose
DB_DATABASE=patients
DB_USERNAME=patients
DB_PASSWORD=secret
DB_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=5173

MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

VITE_API_URL=http://localhost:8000/api
